
<div class="container">
    <div class="jumbotron">
      
      <p class="text-justify font-weight-bold text-center">Five Districts of Bangladesh with Marker</p>

      
<agm-map [latitude]="lat" [longitude]="lng" [zoom]='zoom'>
   
    <agm-marker 

            *ngFor="let marker of markers" 

            [latitude]="marker.latitude" 

              [longitude]="marker.longitude">    

                  <agm-info-window #infoWindow>

                      {{ marker.name }}

                </agm-info-window>

        </agm-marker>
  </agm-map>

    </div>
  </div>
